*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #c8c8c8;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

#pageTitle {
  margin-top: 0px;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #c8c8c8, 4px 4px #f5f5f5;
  color: #5e5e5e;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#table {
  background-color: black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  min-width: 25px;
  height: 25px;
  text-align: center;
  background-color: gray;
  user-select: none;
  border: 2px solid black;
}

#gameStatus {
  text-align: center;
}

form {
  text-align: center;
}

button[data-checked="1"] {
  background-color: #45da45;
}

input[type="button"],
button {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #5e5e5e;
  background-color: #f5f5f5;
  color: #5e5e5e;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

input[type="button"]:hover,
button:hover {
  background-color: #c8c8c8;
  color: #f5f5f5;
  cursor: pointer;
}

input[type="button"]:active,
button:active {
  background-color: rgb(185, 185, 185);
}

.div1 {
  background-color: #c8c8c8;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px #666;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #999;
}

.leaderboards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.leaderboard {
  display: flex;
  flex-flow: column wrap;
}

.leaderboard > * {
  flex: 0 0 auto;
}

.leaderboard > ol {
  list-style-position: inside;
  padding-left: 0;
}

.leaderboard-title {
  font-size: 1.25em;
  font-weight: bold;
}

.center {
  text-align: center;
}

span {
  color: #5e5e5e;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-shadow: 1px 1px #666;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  color: #5e5e5e;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-shadow: 1px 1px #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
